<template>
    <div id="main">
        <Header/>
        <div class="content">
            <router-view></router-view>
        </div>
       <Footer/>
    </div>
</template>

<script>
    import Header from './partials/Header.vue';
    import Footer from './partials/Footer.vue';
    export default {
        name: 'main-app',
        components: {Header,Footer}
    }
</script>
