<template>
    <nav class="navbar navbar-expand-md navbar-light navbar-laravel">
        <div class="container">
            <router-link class="navbar-brand" to="/">My Vue App</router-link>
        </div>
    </nav>
</template>

<script>
    export default {
        // name: 'app-header'
    }
</script>
